.idea
/docs/*
/logs/*.log
*.sh
*.sql
/bin/*.php
/storage/api-docs/api-docs.json
/public/uploads/*
vendor/*

/nbproject/private/
/vendor
/nbproject
/logsnbproject/*
composer.lock

.phpstorm.meta.php
_ide_helper.php

